# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment files
.env
.env.*

*.log
*.sqlite3
*.db
*.pid
.coverage
.pytest_cache/
.mypy_cache/
.dmypy.json

# Package files
*.egg-info/
dist/
build/

# IDE/editor folders
.vscode/
.idea/
*.swp
*~

# macOS
.DS_Store
